.logo-wrapper {
    /* background-image: url('/assets/images/superBasket.png'); */
    background-image: url('/assets/images/superBasket logo.png');
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

/*Mobile*/
@media screen and (max-width: 767px) {
    .logo-wrapper {
        width: 120px !important;
        height: 120px !important;
    }
}