<div class="menu-border h-desktop-100-per">
    <div class="container h-desktop-100-per">
        <div class="menu-wrapper h-desktop-100-per">
            <div class="m-t-b-mobile-3">
                <a href="/profile">Profile</a>
            </div>
            <div class="m-t-b-mobile-3">
                <a href="/">Dashboard</a>
            </div>
            <div class="m-t-b-mobile-3">
                <a href="/history">History</a>
            </div>
            <div class="m-t-b-mobile-3">
                <a href="/history">Browse</a>
            </div>
            <div class="m-t-b-mobile-3">
                <a href="/store">Store</a>
            </div>
            <div class="m-t-b-mobile-3">
                <a href="/about-us">About us</a>
            </div>
            <div class="m-t-b-mobile-3">
                <a href="/contact-us">Contact us</a>
            </div>
        </div>
    </div>
</div>

