.item-image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 32px;
}

@media (max-width: 767px) {
    .item-image {
    min-height: 300px;
    }   
}

@media (min-width: 768px) {
    .item-image {
    min-height: 700px;
    }   
}